<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Camagru</title>
        <link rel="stylesheet" type="text/css" href="/css/basic.css">
    </head>

    <body>
        <?PHP include "header.html";?>

        <div class="content">
            <div class="editing">
                <h2>Take a picture</h2>
                <div class="webcam">
                    <video id="player" width=320 height=240 autoplay></video>
                    <canvas id="canvas" width=320 height=240 hidden></canvas>
                </div>
                <form id="webcam" action="editing.php" method="POST">
                    <select id="layer" name="layer" required>
                        <option value="" selected>Select a layer</option>
                        <option value="yoshi">Yoshi</option>
                        <option value="mario">Mario</option>
                        <option value="peach">Peach</option>
                        <option value="bowser">Bowser</option>
                    </select>
                    <input type="hidden" id="webcamImg" name="webcamImg"/>
                    <button type="submit" id="capture" name="action" value="webcam" disabled>Take photo</button>
                </form>
                <h2>Upload a picture</h2>
                <div class="upload">
                    <form action="editing.php" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="image" capture>
                        <button name="action" value="upload" type='submit'>Upload</button>
                    </form>
                </div>
                <p><?=$msg?></p>
            </div>
        </div>

        <?PHP require "sidebar.html";?>

        <?PHP include "footer.html";?>

        <script>
         const player = document.getElementById('player');
         const canvas = document.getElementById('canvas');
         const context = canvas.getContext('2d');
         const captureButton = document.getElementById('capture');
         const selectLayer = document.getElementById('layer');
         const webcamImg = document.getElementById('webcamImg');
         var webcamAccess = false;

         selectLayer.addEventListener('change', () => {
             if (! selectLayer.value || selectLayer.value === 0 || ! webcamAccess)
                 captureButton.disabled = true;
             else
                 captureButton.disabled = false;
         });

         function main() {
             const supported = 'mediaDevices' in navigator;
             if (!supported) {
                 console.log("Your navigator don't support webcams");
                 return;
             }

             const constraints = {
                 video: true,
             };

             captureButton.addEventListener('click', () => {
                 // Draw the video frame to the canvas.
                 context.drawImage(player, 0, 0, canvas.width, canvas.height);
                 webcamImg.value = canvas.toDataURL();
             });

             // Attach the video stream to the video element and autoplay.
             navigator.mediaDevices.getUserMedia(constraints)
                      .then((stream) => {
                          player.srcObject = stream;
                          webcamAccess = true;
                      });
         }


         main();
        </script>
    </body>
</html>
