<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Camagru forgot password</title>
        <link rel="stylesheet" type="text/css" href="/css/basic.css">
    </head>

    <body>
        <?PHP include "header.html";?>

        <div class="content">
            <div class="login">
                <h2>Forgot password</h2>
                <form method='post'>
                    <input name="email" type="email" placeholder="Email" required>
                    <button name="action" value="forgot" type='submit'>Send reset email</button>
                </form>
                <p><?=$msg?></p>
            </div>
        </div>

        <?PHP include "footer.html";?>
    </body>
</html>
