<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <title>Camagru</title>
        <link rel="stylesheet" type="text/css" href="/css/basic.css">
    </head>

    <body>
        <?PHP include "header.html";?>

        <div class="content">
            <?=$msg?>

            <div class="image">
                <?=$image?>
            </div>

            <div class="actions">
                <?=$actions?>
            </div>

            <div class="comments">
                <?=$comments?>
            </div>
        </div>

        <?PHP include "footer.html";?>
    </body>
</html>
